%inputs {
    background-color: transparent;
    border: 0.0625rem solid #bbb;
    border-radius: $borderRadius;
    color: $primaryColor;
    display: inline-flex;
}

%height {
    height: 2.375rem;
}

input,
button {
    &::placeholder {
        text-transform: capitalize;
    }
}

input {
    @extend %inputs;
}

button,
.btn,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    @extend %inputs;
    @extend %height;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 2.375rem;
    letter-spacing: .08rem;
    margin: .5rem 0;
    padding: 0 1.875rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        border-color: #888;
        //box-shadow: 0 0 0 0.125em rgba(186, 186, 187, 0.25);
        outline: 0;
    }

    &:disabled {
        color: #888;
        border-color: #bbb;
    }

}