@font-face {
    font-family: 'Bariol';
    /* IE9 Compat Modes */
    src: url('../font/Bariol-Thin.eot');
    /* IE6-IE8 */
    src: url('../font/Bariol-Thin.eot?#iefix') format('embedded-opentype'),
        /* Legacy iOS */
        url('../font/Bariol-Thin.svg#Bariol-Thin') format('svg'),
        /* Safari, Android, iOS */
        url('../font/Bariol-Thin.ttf') format('truetype'),
        /* Modern Browsers */
        url('../font/Bariol-Thin.woff') format('woff'),
        /* Modern Browsers */
        url('../font/Bariol-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('../font/Bariol-Light.eot');
    src: url('../font/Bariol-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Bariol-Light.svg#Bariol-Light') format('svg'),
        url('../font/Bariol-Light.ttf') format('truetype'),
        url('../font/Bariol-Light.woff') format('woff'),
        url('../font/Bariol-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('../font/Bariol-Regular.eot');
    src: url('../font/Bariol-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Bariol-Regular.svg#Bariol-Regular') format('svg'),
        url('../font/Bariol-Regular.ttf') format('truetype'),
        url('../font/Bariol-Regular.woff') format('woff'),
        url('../font/Bariol-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('../font/Bariol-Bold.eot');
    src: url('../font/Bariol-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Bariol-Bold.svg#Bariol-Bold') format('svg'),
        url('../font/Bariol-Bold.ttf') format('truetype'),
        url('../font/Bariol-Bold.woff') format('woff'),
        url('../font/Bariol-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

$fontFamily: 'Bariol',
sans-serif;