::placeholder {
	color: $lightGray;
}

input {
	@extend %inputs;
}

input,
textarea,
select,
fieldset,
datalist {
	margin-bottom: 1.5rem;
}

fieldset {
	border: none;
}

input:not([type='button']):not([type='reset']):not([type='submit']):not([type='radio']):not([type='checkbox']),
select,
textarea,
datalist,
fieldset {
	width: 100%;
}

legend {
	display: block;
	font-weight: 500;
	margin-bottom: 0.5rem;
	text-transform: capitalize;
}

input:not([type='radio']):not([type='checkbox']):not([type='range']):not([type='color']):not([type='button']):not([type='submit']):not([type='reset']),
select,
datalist {
	@extend %inputs;
}

input[type='radio'],
input[type='checkbox'] {
	margin-right: 5px;
	margin-left: 5px;
}

textarea {
	@extend %inputs;
	resize: none;
}

select {
	padding-left: 15px;
	appearance: none;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAgklEQVRIie2SQQqAIBBFH90hqfsfxV20qkUH6QC2aIQhzKwUCnwwu5n/BD9U/oaVKYaTSaYp9JAq+LjAAiNgbuQYuUmq8MBexTkgCdXUyK6T20taYJKDBegjguNulyKISbTgcXhM4gWvw88kXpAl3KM/UU+oBNkkWcO1ZJXJHl4pxwa9wjhj/WdK6AAAAABJRU5ErkJggg==')
		no-repeat;
	background-position: right 0.9em top 50%, 0 0;
	background-size: 1em auto, 100%;

	option {
		border-color: $dark;
	}
}

input[type='file'] {
	padding: 0.45rem;
}

input[type='color'] {
	padding: 0.375rem;
	@extend %height;
}

datalist {
	display: none;
}
