input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

legend {
    display: block;
    font-weight: 500;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background: #fff;
    border: 0.0625rem solid #bbb;
    border-radius: $borderRadius;
    color: $primaryColor;
    display: block;
    font-weight: 400;
    height: 2.375rem;
    margin-bottom: 1rem;
    padding: .375rem .75rem;
    transition: .2s ease-in-out;
    transition-property: color,
        background-color,
        border;
    font-family: $fontFamily;
    width: 100%;

    &:focus {
        background-color: #fff;
        color: #666;
        border-color: $primaryColor;
        outline: none;
    }
}

textarea {
    height: unset;
    padding: .75rem;
    resize: none;
}

select {
    padding-left: 15px;
    appearance: none;
    background: url(../images/arrow-down.png) no-repeat;
    background-position: right .9em top 50%,
        0 0;
    background-size: 1em auto,
        100%;
}

option {
    border-color: $primaryColor;
}


input[type="file"] {
    padding: .45rem;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"] {
    padding: .5rem;
    display: flex;
}

input[type="range"] {
    width: 100%;
}

input[type="color"] {
    height: 2.375rem;
    padding: .25rem;
    width: 3.5rem;
}

fieldset {
    border: 0;
}