input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

label,
legend {
    display: block;
    font-weight: 500;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background: #fff;
    border: 0.0625rem solid #bbb;
    border-radius: $borderRadius;
    color: $primaryColor;
    display: block;
    height: 2.375rem;
    margin-bottom: 1rem;
    padding: .375rem .75rem;
    transition: .2s ease-in-out;
    transition-property: color,
        background-color,
        border;
    width: 100%;

    &:focus {
        background-color: #fff;
        color: #666;
        border-color: $primaryColor;
        outline: none;
    }
}

select {
    padding: 0;
    appearance: none;
    background: url(../images/arrow-down.png) no-repeat;
    background-position: right .9em top 50%,
        0 0;
    background-size: 1em auto,
        100%;
}

option {
    border-color: $primaryColor;
}


input[type="file"] {
    padding: .45rem;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"] {
    padding: .5rem;
}

input[type="range"] {
    width: 100%;
}

input[type="color"] {
    height: 2.375rem;
    padding: .25rem;
}

fieldset {
    border: 0;
}

%custominput {

    position: absolute;
    opacity: 0;

    &+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #bbb;
    }

    &:checked+label {
        color: $primaryColor;
    }

    &+label::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #bbb;
        background: white;
    }

    &:checked+label::before {
        border-color: $primaryColor;
    }

    &+label:hover::before {
        border-color: $primaryColor;
    }

    &+label:hover {
        color: $primaryColor;
    }

    &+label:after {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: all 0.2s ease;
    }

    &:not(:checked)+label:after {
        opacity: 0;
        transform: scale(0);
    }

    &:checked+label:after {
        opacity: 1;
        transform: scale(1);
    }
}

.customRInp {

    @extend %custominput;

    &+label:before {
        border-radius: 100%;
    }

    &:checked+label:after {
        background: $primaryColor;
        border-radius: 100%;
    }
}

.customCInp {

    @extend %custominput;

    &:checked+label::after {
        content: url(../images/check.png);
        top: 0;
        left: -.1035rem;
    }
}