* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $primaryColor;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    outline-color: $primaryColor;

    body {
        width: 100%;
        overflow-x: hidden;
    }

    &::selection {
        background: $primaryColor;
        color: #fff;
        text-shadow: none;
    }
}