* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $primaryColor;
    outline-color: $primaryColor;

    &::selection {
        background: $primaryColor;
        color: #fff;
        text-shadow: none;
    }
}

body {
    width: 100%;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden;
}

code,
kbd,
pre,
samp {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

pre {
    width: 100%;
    border-radius: $borderRadius;
    margin-bottom: 2rem;
    display: flex;
    position: relative;

    .btncopy {
        background-color: gainsboro;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
        border: 0;
        height: 2.95rem;
        width: 40px;
        padding-left: 7px;

        svg {
            stroke: lighten($primaryColor, 20%);
        }

        &:hover {
            background-color: darken(gainsboro, 5%);

            svg {
                stroke: $primaryColor;
            }
        }
    }
}

code {
    width: 100%;
    background: #f4f5f6;
    border-radius: $borderRadius;
    border-left: .2rem solid $primaryColor;
    font-size: 86%;
    padding: 1rem 1.75rem 1rem .75rem;
    white-space: pre;
    display: inline-flex;
    overflow-y: hidden;
}