$tableResponsive: 'only screen and (max-width:992px)';
$stripeColor: #dce3e4;

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table.stripe tr {
    border-bottom: none;
}

table.stripe tbody tr:nth-child(odd) {
    // background-color: lighten($primaryColor, 50%);
    background-color: $stripeColor;
}

.table-center th,
.table-center td {
    text-align: center;
}

.table-center td {
    @media #{$tableResponsive} {
        text-align: left;
    }
}

tr {
    border-bottom: 1px solid $primaryColor;
}

td,
th {
    padding: 1rem .5rem;
    display: table-cell;
    text-align: left;
}

th {
    font-weight: 500;
    text-transform: capitalize;
}

td {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

@media #{$tableResponsive} {
    table {
        width: 100%;
        display: block;
        position: relative;

        thead {
            display: block;
            float: left;

            th {
                display: block;
                text-align: right !important;
            }

            tr {
                display: block;
                padding-right: 10px;
                border-right: 1px solid $primaryColor;
            }
        }

        tbody {
            display: flex;
            width: auto;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;

            tr {
                display: inline-block;
                vertical-align: top;
                border-right: 1px solid $primaryColor;

                &:last-child {
                    border: none;
                }
            }
        }

        td {
            display: block;
            min-height: 1.25em;
            text-align: left;
            border: none;
        }

        tr {
            border-bottom: none;
            padding: 0 10px;
        }
    }
}