.tooltip {
    position: relative;
    margin: 0;

    &::after {
        content: attr(data-tooltip);
        position: absolute;
        background-color: $dark;
        border-radius: 3px;
        color: #fff;
        padding: 5px;
        font-size: 0.8em;
        min-width: 130px;
        text-align: center;
        display: none;
    }

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $dark;
        position: absolute;
        // bottom: -.07rem;
        bottom: 2rem;
        left: .4rem;
        display: none
    }

    &:hover {

        &::after,
        &::before {
            display: block;
        }
    }
}