// body {
//     font-size: 16px;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2;
    margin: 1rem 0;
    font-weight: 400;
}

h1 {
    font-size: 4rem;

    @media #{$extraSmall} {
        font-size: 3rem;
    }
}

h2 {
    font-size: 3.6rem;

    @media #{$extraSmall} {
        font-size: 2.7rem;
    }
}

h3 {
    font-size: 3rem;

    @media #{$extraSmall} {
        font-size: 2.25rem;
    }
}

h4 {
    font-size: 2.4rem;

    @media #{$extraSmall} {
        font-size: 1.8rem;
    }
}

h5 {
    font-size: 1.8rem;

    @media #{$extraSmall} {
        font-size: 1.35rem;
    }
}

h6 {
    font-size: 1.5rem;

    @media #{$extraSmall} {
        font-size: 1.125rem;
    }
}

p {
    line-height: 1.5;
    font-size: 1.1em;
    font-weight: 300;
    margin: 15px 0;
}

label {
    text-transform: capitalize;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 1rem;
}

a {
    color: $secondaryColor;
    text-decoration: none;
    background-color: transparent;
    border-radius: $borderRadius;

    &:hover {
        text-decoration: underline;
    }
}

small {
    font-size: 80%;
}

blockquote {
    width: 100%;
    background: #f4f5f6;
    border-radius: $borderRadius;
    border-left: .2rem solid $primaryColor;
    font-size: 86%;
    padding: 1rem 1.75rem 1rem .75rem;
    margin-bottom: 1rem;
    position: relative;

    &::before {
        content: open-quote;
        position: absolute;
        z-index: -1;
    }

    &::after {
        position: absolute;
        font-family: serif;
        content: close-quote;
        top: 0;
        right: 12px;
        font-size: 6em;
        color: darkgray;
        font-style: italic;
    }

    p {
        margin: 1rem 1rem 0;
        font-size: 1rem;
        overflow-x: auto;
    }

    footer {
        font-style: italic;
        margin: .5rem .75rem 0;
        text-align: right;
        color: gray;
    }
}

hr {
    border: unset;
    border-bottom: 1px solid rgba(187, 187, 187, 0.2);
    width: 100%;
    margin: 30px auto;
}