$primaryColor: #333;
$secondaryColor:rgb(0, 0, 87);
// $third: #f8f7f4;
// $forth: #dce3e4;
// $fifth: #b0c4c9;

// $a: #b0c4c9;
// $b: #dce3e4;
// $c: #f8f7f4;
// $d: #41cee2;


$borderRadius: 0.16rem;
$fontFamily: 'Roboto',
sans-serif;
$fontSize: 1em;
$fontWeight: 300;

$extraSmall: 'only screen and (max-width:576px)';
$small: 'only screen and (min-width:576px)';
$medium: 'only screen and (min-width:768px)';
$large: 'only screen and (min-width:992px)';
$extraLarge: 'only screen and (min-width:1200px)';