// colors
$dark: #0a0a0a;
$darkGray: #555555;
$gray: #888888;
$lightGray: #bbbbbb;
$white: #ffffff;

// utils
$borderRadius: 0.16rem;
$fontFamily: 'Bariol',
sans-serif;
$fontSize: 1em;
$fontWeight: 300;

// sizes
$extraSmall: 'only screen and (max-width:576px)';
$small: 'only screen and (min-width:576px)';
$medium: 'only screen and (min-width:768px)';
$large: 'only screen and (min-width:992px)';
$extraLarge: 'only screen and (min-width:1200px)';
$phablet: 'only screen and (min-width:576px) and (max-width:768px)';

// shared styles
%inputs {
	background-color: transparent;
	border: 0.0625rem solid $lightGray;
	border-radius: $borderRadius;
	color: $dark;
	display: inline-flex;
	font-weight: 400;
	padding: 0.65rem;

	transition: 0.2s ease-in-out;
	transition-property: color, background-color, border;

	&:focus {
		background-color: $white;
		color: $dark;
		border-color: $darkGray;
		outline: none;
	}
}

%height {
	height: 2.375rem;
}