// colors
$dark: #0a0a0a;
$darkGray:#555555;
$gray: #888888;
$lightGray: #bbbbbb;
$white: #ffffff;

//fonts
@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 100;
    src: local('Bariol Thin'), url('https://www.cufonfonts.com/cdn/webfont/bariol/bariol_thin-webfont.woff?token=DbHNRLqO2_Kz8G-uZzURBWuXP6FNnPoa') format('woff');
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 300;
    src: local('Bariol Light'), url('https://www.cufonfonts.com/cdn/webfont/bariol/bariol_light-webfont.woff?token=DbHNRLqO2_Kz8G-uZzURBWuXP6FNnPoa') format('woff');
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 400;
    src: local('Bariol Regular'), url('https://www.cufonfonts.com/cdn/webfont/bariol/bariol_regular-webfont.woff?token=DbHNRLqO2_Kz8G-uZzURBWuXP6FNnPoa') format('woff');
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 700;
    src: local('Bariol Bold'), url('https://www.cufonfonts.com/cdn/webfont/bariol/bariol_bold-webfont.woff?token=DbHNRLqO2_Kz8G-uZzURBWuXP6FNnPoa') format('woff');
}

// utils
$borderRadius: 0.16rem;
$fontFamily: 'Bariol',
sans-serif;
$fontSize: 1em;
$fontWeight: 400;

// sizes
$extraSmall: 'only screen and (max-width:576px)';
$small: 'only screen and (min-width:576px)';
$medium: 'only screen and (min-width:768px)';
$large: 'only screen and (min-width:992px)';
$extraLarge: 'only screen and (min-width:1200px)';
$phablet: 'only screen and (min-width:576px) and (max-width:768px)';

// shared styles
%inputs {
    background-color: transparent;
    border: 0.0625rem solid $lightGray;
    border-radius: $borderRadius;
    color: $dark;
    display: inline-flex;
    font-weight: 400;
    padding: .65rem;

    transition: .2s ease-in-out;
    transition-property: color,
        background-color,
        border;

    &:focus {
        background-color: $white;
        color: $dark;
        border-color: $darkGray;
        outline: none;
    }
}

%height {
    height: 2.375rem;
}