$dark: #0a0a0a;
$white:#fff;

pre {
    .btncopy {
        background-color: darken($white, 14%);
        position: absolute;
        right: 0;
        bottom: 0;
        padding: .5rem !important;
        margin: 0;
        border: 0;
        height: 2.95rem;
        width: 40px;
        padding-left: 7px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            stroke: lighten($dark, 20%);
            transition: none;
            fill: none;
            stroke: $dark;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        &:hover {

            // background-color: darken(gainsboro, 5%);
            svg {
                stroke: $white;
            }
        }

        &:focus {
            color: $white;

            svg {
                stroke: $white;
            }
        }
    }
}