$dark: #0a0a0a;
$darkGray: #555555;
$gray: #888888;
$lightGray: #bbbbbb;
$white: #ffffff;

// input range
.customrange {
	appearance: none;
	height: 0.5rem;
	border-radius: 0.16rem;
	background-color: lighten($lightGray, 15%);
	outline: none;
	margin-bottom: 1rem;
	padding: 0;
	border: none;

	&:focus {
		background: lighten($lightGray, 5%);
	}

	//webkit
	&::-webkit-slider-thumb {
		appearance: none;
		width: 20px;
		height: 20px;
		border: 0;
		border-radius: 50%;
		background-color: $darkGray;
		cursor: pointer;

		&:hover {
			background-color: $dark;
		}
	}

	&:active::-webkit-slider-thumb {
		background-color: $dark;
	}

	&:focus::-webkit-slider-thumb {
		box-shadow: 0 0 0 3px $white, 0 0 0 5px $darkGray;
	}

	//mozila
	&::-moz-range-thumb {
		width: 20px;
		height: 20px;
		border: 0;
		border-radius: 50%;
		background-color: $darkGray;
		cursor: pointer;

		&:hover {
			background-color: $dark;
		}
	}

	&:active::-moz-range-thumb {
		background-color: $dark;
	}

	&:focus::-moz-range-thumb {
		box-shadow: 0 0 0 3px $white, 0 0 0 5px $darkGray;
	}
}

//toggle button
$borderRadius: 0.16rem;

.togglebtn {
	width: 0;
	height: 0;
	visibility: hidden;
	margin: 0;

	&:checked + label {
		background-color: $white;
		border-color: $dark;

		span {
			margin-left: 1.6rem;
			background-color: $dark;
		}
	}

	& + label {
		display: flex;
		width: 2.8rem;
		height: 1.3rem;
		background-color: $white;
		align-items: center;
		border-radius: $borderRadius;
		cursor: pointer;
		transition: all 0.4s ease-out;
		border: 1px solid $lightGray;

		&:hover {
			border-color: $dark;
		}

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 0.1rem;
			width: 1rem;
			height: 1rem;
			border-radius: $borderRadius;
			background-color: $lightGray;
			transition: all 0.2s ease-in-out;
		}
	}
}

//custom checkbox & radio
%custominput {
	width: 0;
	height: 0;
	visibility: hidden;
	margin: 0;

	& + label {
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: $dark;
	}

	&:checked + label {
		color: $dark;
	}

	& + label::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 18px;
		height: 18px;
		border: 1px solid $lightGray;
		background: $white;
	}

	&:checked + label::before {
		border-color: $dark;
	}

	& + label:hover::before {
		border-color: $dark;
	}

	& + label:after {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 4px;
		left: 4px;
		transition: all 0.2s ease;
	}

	&:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
}

.customradio {
	@extend %custominput;

	& + label:before {
		border-radius: 100%;
	}

	&:checked + label:after {
		background: $dark;
		border-radius: 100%;
	}

	&:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
}

.customcheckbox {
	@extend %custominput;

	&:checked + label::after {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
		top: -0.05rem;
		left: -0.05rem;
	}

	&:checked + label:after {
		opacity: 1;
		transform: scale(0.8);
	}
}
