$dark: #333;
$secendColor: #dce3e4;

$small: 'only screen and (max-width:576px)';
$tableResponsive: 'only screen and (max-width:992px)';

a:focus {
    text-decoration: underline;
}

a:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
    background-color: $dark;
    color: $secendColor;
}

#home {
    margin-top: 70px;
    background-color: $secendColor;
    height: calc(100vh - 70px);
}

#grid {
    table {
        span {
            @media #{$tableResponsive} {
                display: none;
            }
        }

        .tdcolumns {
            @media #{$tableResponsive} {
                height: 256px;
                display: flex;
                align-items: center;
            }
        }
    }

    .grid {
        background-color: $secendColor;
        text-align: center;
        float: left;
        width: 100%;
        border-top: .001rem solid $dark;
    }

    .column {
        border-left: .001rem solid $dark;

        @media #{$small} {
            border-left: none;
        }
    }
}

#typo {
    .typo {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: 1.2;
        }
    }

    .heading {
        font-size: 1rem;

        code {
            margin: 0 .2rem;
            padding: .2rem .5rem;
            width: unset;
            border: none;
        }
    }
}

#query {
    @media #{$small} {
        >.row {
            ul {
                padding: 0 15px;
            }
        }
    }
}

#footer {
    background-color: $dark;
    padding: .75rem;

    a:hover {
        background-color: white;
        color: $dark !important;
    }

    a,
    p {
        color: white;
    }

}

.warning {
    color: red;
}