$borderRadius: 0.16rem;
$fontFamily: 'Roboto',
sans-serif;
$fontSize: 1em;
$fontWeight: 500;
$primaryColor: #333;

$extraSmall: 'only screen and (max-width:768px)';
$small: 'only screen and (min-width:768px)';
$medium: 'only screen and (min-width:768px)';
$large: 'only screen and (min-width:992px)';
$extraLarge: 'only screen and (min-width:1200px)';


%beforeafter {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: $borderRadius;
}

* {
    transition: all .4s ease-in-out;
}

.hamburger {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $primaryColor;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    .open {
        right: 0;
    }

    ul {
        list-style: none;
        display: flex;
        padding: .375rem;

        @media #{$extraSmall} {
            flex-direction: column;
            background-color: $primaryColor;
            top: 70px;
            right: -100%;
            bottom: 0;
            position: fixed;
            width: 100%;
            height: 100vh;
            padding: 1rem;

            li {
                margin-top: .5rem;
            }
        }

        li {
            padding: .75rem;
        }
    }

    a {
        color: white;
        text-decoration: none;

        img {
            width: 38px;
            height: 38px;
            vertical-align: middle;
            padding: .2rem;
            margin-right: .5rem;
        }
    }

    button {
        padding: 0 8px;
        width: 40px;
        height: 40px;

        @media #{$small} {
            display: none;
        }

        span {
            border-radius: $borderRadius;
            background-color: white;
            width: 100%;
            height: 3px;
            position: relative;
            display: block;
            transition: all 0.15s;

            &::before {
                @extend %beforeafter;
                top: -9px;
            }

            &::after {
                @extend %beforeafter;
                top: 9px;
            }
        }

        .toggle {
            background-color: transparent;

            &::before {
                transform: rotate(45deg) translate(6px, 7px);
            }

            &::after {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}

//start animation responsive menu


label {
    display: block;
    cursor: pointer;
    // position: absolute;
    // top: -27px;
    // right: 0;
    width: 50px;
    height: 50px;
    margin: 0;

    @media #{$small} {
        display: none;
    }

    input[type="checkbox"] {
        display: none;

        &:checked+svg {

            path:nth-child(1),
            path:nth-child(2) {
                --length: 22.627416998;
            }

            path:nth-child(3),
            path:nth-child(4) {
                --length: 0;
                --offset: -20;
            }

            path:nth-child(5),
            path:nth-child(6) {
                --length: 22.627416998;
                --offset: -16.9705627485;
            }

            path {
                transform: translateX(30px);
                --offset: -16.9705627485;
            }
        }
    }

    svg {
        transform: scale(3);

        path:nth-child(1),
        path:nth-child(2),
        path:nth-child(5),
        path:nth-child(6) {
            --total-length: 111.22813415527344;
            --offset: -50.22813415527344;
        }

        path:nth-child(3),
        path:nth-child(4) {
            --total-length: 99
        }

        path:nth-child(1),
        path:nth-child(3),
        path:nth-child(5) {
            opacity: 0;
            stroke-dasharray: none;
        }

        path {
            fill: none;
            stroke: #ffffff;
            // stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;
            --length: 24;
            --offset: -38;
            stroke-dasharray: var(--length) var(--total-length);
            stroke-dashoffset: var(--offset);
            transition: all .5s cubic-bezier(.645, .045, .355, 1);
        }
    }
}

//end animation responsive menu
* body {
    .wrapper {
        display: flex;

        a {
            text-decoration: none;
            color: white;
        }

        ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            list-style: none;

            width: 7.5rem;
            min-height: 100vh;
            background-color: $primaryColor;
            color: white !important;

            @media #{$small} {
                width: 14rem;
            }

            #brand {
                text-transform: capitalize;
                margin: 1.5rem auto;

                img {
                    width: 50px;
                }
            }

            hr {
                margin: 0;
            }

            li {
                margin: 1.5rem auto;

                @media #{$small} {
                    margin-left: 1.5rem;
                }
            }
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            width: calc(100% - 7.5rem);
            background-color: #f8f9fc;

            @media #{$small} {
                width: calc(100% - 14rem);
            }

            nav {
                position: relative;
                height: 80px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.5rem;
                padding: .5rem 1rem;
                background-color: white;
                box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);

                button {
                    padding: 0 .375rem;

                    @media #{$small} {
                        display: none;
                    }
                }
            }
        }
    }

    .sidetoggle {
        width: 0 !important;
        overflow: hidden;
    }

    .contenttoggle {
        width: 100% !important;
    }
}

//start side navigation



























//end side navigation