$dark: #0a0a0a;
$darkGray:#555555;
$gray: #888888;
$lightGray: #bbbbbb;
$white: #ffffff;
$borderRadius: 0.16rem;
$mobile: 'only screen and (max-width:768.1px)';
$laptop: 'only screen and (min-width:768.1px)';

%svgbutton {
    padding: 6px 8px !important;
    background-color: $white;
}


* {
    transition: all .4s ease-in-out;

    .menu {
        margin-top: 75px;
    }
}

//start animation responsive menu
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $dark;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;

    #brand {
        text-decoration: none;
        font-weight: 500;
    }

    #lblmenu {
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin: 0;

        @media #{$laptop} {
            display: none;
        }

        #menu {
            display: none;

            &:checked+svg {

                path:nth-child(1),
                path:nth-child(2) {
                    // --length: 22.627416998;
                    stroke-dasharray: 22.627416998 111.22813415527344;
                }

                path:nth-child(3),
                path:nth-child(4) {
                    // --length: 0;
                    // --offset: -20;
                    stroke-dasharray: 0 99;
                    stroke-dashoffset: -20;
                }

                path:nth-child(5),
                path:nth-child(6) {
                    // --length: 22.627416998;
                    // --offset: -16.9705627485;
                    stroke-dasharray: 22.627416998 111.22813415527344;
                    stroke-dashoffset: -16.9705627485;
                }

                path {
                    transform: scale(2) translate(5px, -25px);
                    // --offset: -16.9705627485;
                    stroke-dashoffset: -16.9705627485;
                }
            }
        }

        svg {

            path {
                transform: scale(2) translate(-25px, -25px);
            }

            path:nth-child(1),
            path:nth-child(2),
            path:nth-child(5),
            path:nth-child(6) {
                // --total-length: 111.22813415527344;
                // --offset: -50.22813415527344;
                stroke-dasharray: 24 111.22813415527344;
                stroke-dashoffset: -50.22813415527344;
            }

            path:nth-child(3),
            path:nth-child(4) {
                // --total-length: 99;
                stroke-dasharray: 24 99;
            }

            path:nth-child(1),
            path:nth-child(3),
            path:nth-child(5) {
                opacity: 0;
                stroke-dasharray: none;
            }

            path {
                fill: none;
                stroke: $white;
                stroke-linecap: round;
                stroke-linejoin: round;
                // --length: 24;
                // --offset: -38;
                // stroke-dasharray: var(--length) var(--total-length);
                // stroke-dashoffset: var(--offset);
                stroke-dashoffset: -38;
                transition: all .5s cubic-bezier(.645, .045, .355, 1);
            }
        }
    }

    .open {
        right: 0;
    }

    ul {
        list-style: none;
        display: flex;
        padding: .375rem;
        margin: 0;

        @media #{$mobile} {
            flex-direction: column;
            background-color: $dark;
            top: 70px;
            right: -100%;
            bottom: 0;
            position: fixed;
            width: 100%;
            height: 100vh;
            padding: 1rem;
        }

        li {
            margin: 0;

            a {
                @media #{$mobile} {
                    padding: 1.5rem .5rem;
                }
            }
        }
    }

    a {
        display: block;
        color: $white;
        padding: .5rem 1rem;

        // img {
        //     width: 38px;
        //     height: 38px;
        //     vertical-align: middle;
        //     padding: .2rem;
        //     margin-right: .5rem;
        // }
    }
}

//end animation responsive menu

//start admin sidenav
.admin-wrapper {
    display: flex;

    a {
        color: $white;
    }

    .side-admin {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        margin: 0;
        list-style: none;
        width: 7.5rem;
        min-height: 100vh;
        background-color: $dark;
        color: $white !important;

        @media #{$laptop} {
            width: 14rem !important;
        }

        #brand {
            text-transform: capitalize;
            margin: 1.5rem auto 0;
            width: 100px;
            height: 100px;

            @media #{$mobile} {
                width: 50px;
                height: 50px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        li {
            margin: 0;

            a {
                display: block;
                padding: 1.5rem 0;
                text-align: center;
            }
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: calc(100% - 7.5rem);
        background-color: darken($white, 2%);
        background-color: $white;
        margin-left: 7.5rem;

        @media #{$laptop} {
            width: calc(100% - 14rem);
            margin-left: 14rem !important;
        }

        .admin-nav {
            // position: relative;
            height: 70px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: .5rem 1rem;
            background-color: $white;
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
            position: fixed;
            top: 0;
            right: 0;
            left: 14rem;
            width: auto !important;
            z-index: 9999;

            @media #{$mobile} {
                left: 7.5rem;
            }

            #menubtn {
                @extend %svgbutton;

                @media #{$laptop} {
                    display: none;
                }
            }
        }
    }
}

.sidetoggle {
    width: 0 !important;
    overflow: hidden;
}

.contenttoggle {
    width: 100% !important;
    margin-left: 0 !important;

    .admin-nav {
        @media #{$mobile} {
            left: 0 !important;
        }
    }
}

//end admin sidenav

//start side navigation
.sidenav {
    height: 100vh;
    width: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $dark;
    overflow: hidden;
    z-index: 999;

    ul {
        list-style: none;
        font-size: 24px;
        height: 100%;

        li {
            margin: 0;

            &:first-child {
                padding: 1rem;
            }

            &:nth-child(2) {
                margin-top: 3rem;
            }

            #navclose {
                @extend %svgbutton;
                float: right;

                svg {
                    stroke: $dark;
                }
            }

            a {
                color: $white;
                display: block;
                padding: 1.1rem 1.5rem;
            }
        }
    }
}

#navopen {
    @extend %svgbutton;
    margin-top: 1.6rem;

    svg {
        stroke: $dark;
    }
}

#main {
    height: 100vh;
    margin-left: 0;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 0;
    height: 100vh;
    background-color: $dark;
    opacity: 0;
    transition: opacity .3s;
    z-index: 99;
}

.overlayed {
    opacity: .7;
    width: 100%;
}

//end side navigation

#navclose,
#navopen,
#menubtn,
.btncopy {
    svg {
        width: 24px;
        height: 24px;
        fill: none;
        stroke: $dark;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}