$borderRadius: 0.16rem;
$fontFamily: 'Roboto',
sans-serif;
$fontSize: 1em;
$fontWeight: 500;
$primaryColor: #333;

$extraSmall: 'only screen and (max-width:768px)';
$small: 'only screen and (min-width:768px)';
$medium: 'only screen and (min-width:768px)';
$large: 'only screen and (min-width:992px)';
$extraLarge: 'only screen and (min-width:1200px)';

* {
    transition: all .4s ease-in-out;
}

.hamburger {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $primaryColor;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    .open {
        right: 0;
    }

    ul {
        list-style: none;
        display: flex;
        padding: .375rem;

        @media #{$extraSmall} {
            flex-direction: column;
            background-color: $primaryColor;
            top: 70px;
            right: -100%;
            bottom: 0;
            position: fixed;
            width: 100%;
            height: 100vh;
            padding: 1rem;

            li {
                margin-top: .5rem;
            }
        }

        li {
            padding: .75rem;
        }
    }

    a {
        color: white;
        text-decoration: none;

        img {
            width: 38px;
            height: 38px;
            vertical-align: middle;
            padding: .2rem;
            margin-right: .5rem;
        }
    }

    button {
        padding: 0 .375rem;
        width: 40px;
        height: 40px;

        @media #{$small} {
            display: none;
        }

        span {
            border-radius: $borderRadius;
            background-color: white;
            width: 100%;
            height: 3px;
            position: relative;
            display: block;
            transition: all 0.15s;

            &::before {
                @extend %beforeafter;
                top: -9px;
            }

            &::after {
                @extend %beforeafter;
                top: 9px;
            }
        }

        .toggle {
            background-color: transparent;

            &::before {
                transform: rotate(45deg) translate(6px, 7px);
            }

            &::after {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}

%beforeafter {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: $borderRadius;
}