/////input range
.customrange {
    appearance: none;
    height: .5rem;
    border-radius: .16rem;
    background-color: #d7dcdf;
    outline: none;
    margin-bottom: 1rem;

    //webkit
    &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 0;
        border-radius: 50%;
        background-color: #333;
        cursor: pointer;

        &:hover {
            background-color: rgb(0, 0, 87);
        }
    }

    &:active::-webkit-slider-thumb {
        background-color: rgb(0, 0, 87);
    }

    &:focus::-webkit-slider-thumb {
        box-shadow: 0 0 0 3px white,
            0 0 0 5px rgb(0, 0, 87);
    }

    //mozila
    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border: 0;
        border-radius: 50%;
        background-color: #333;
        cursor: pointer;

        &:hover {
            background-color: rgb(0, 0, 87);
        }
    }

    &:active::-moz-range-thumb {
        background-color: rgb(0, 0, 87);
    }

    &:focus::-moz-range-thumb {
        box-shadow: 0 0 0 3px white,
            0 0 0 5px rgb(0, 0, 87);

    }
}

////toggle button
$borderRadius: 0.16rem;
$primaryColor: #333;

.togglebtn {
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;

    &:checked+label {
        background-color: white;
        border-color: $primaryColor;

        span {
            margin-left: 1.8rem;
            background-color: $primaryColor;
        }
    }

    &+label {
        display: flex;
        width: 3rem;
        height: 1.3rem;
        background-color: white;
        align-items: center;
        border-radius: $borderRadius;
        cursor: pointer;
        transition: all 0.5s ease-out;
        border: 1px solid #b3b3b3;

        &:hover {
            border-color: $primaryColor;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: .1rem;
            width: 1rem;
            height: 1rem;
            border-radius: $borderRadius;
            background-color: #b3b3b3;
            transition: all 0.3s ease-in-out;
        }
    }
}


//////custom checkbox & radio
%custominput {

    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;

    &+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #bbb;
    }

    &:checked+label {
        color: $primaryColor;
    }

    &+label::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #bbb;
        background: white;
    }

    &:checked+label::before {
        border-color: $primaryColor;
    }

    &+label:hover::before {
        border-color: $primaryColor;
    }

    &+label:hover {
        color: $primaryColor;
    }

    &+label:after {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: all 0.2s ease;
    }

    &:not(:checked)+label:after {
        opacity: 0;
        transform: scale(0);
    }

    &:checked+label:after {
        opacity: 1;
        transform: scale(1);
    }
}

.customradio {

    @extend %custominput;

    &+label:before {
        border-radius: 100%;
    }

    &:checked+label:after {
        background: $primaryColor;
        border-radius: 100%;
    }
}

.customcheckbox {

    @extend %custominput;

    &:checked+label::after {
        content: url(../images/check.png);
        top: 0;
        left: -.1035rem;
    }
}