$dark: #0a0a0a;
$darkGray:#555555;
$gray: #888888;
$lightGray: #bbbbbb;
$white: #ffffff;
$borderRadius: 0.16rem;
$mobile: 'only screen and (max-width:768.1px)';
$laptop: 'only screen and (min-width:768.1px)';

%beforeafter {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $white;
    border-radius: $borderRadius;
}

.menu {
    margin-top: 75px;
}

* {
    transition: all .4s ease-in-out;
}

.active {
    font-weight: 500;

    @media #{$mobile} {
        text-decoration: line-through;
        font-weight: 500;
    }
}

.brand {
    font-weight: 400;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $dark;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    .open {
        right: 0;
    }

    ul {
        list-style: none;
        display: flex;
        padding: .375rem;
        margin: 0;

        @media #{$mobile} {
            flex-direction: column;
            background-color: $dark;
            top: 70px;
            right: -100%;
            bottom: 0;
            position: fixed;
            width: 100%;
            height: 100vh;
            padding: 1rem;

            li {
                margin-top: .75rem !important;
            }
        }

        li {
            padding: .75rem;
            margin: 0;
        }
    }

    a {
        color: $white;
        padding: .5rem;

        // img {
        //     width: 38px;
        //     height: 38px;
        //     vertical-align: middle;
        //     padding: .2rem;
        //     margin-right: .5rem;
        // }
    }

    button {
        padding: 0 8px !important;
        width: 40px;
        height: 40px;

        @media #{$laptop} {
            display: none;
        }

        span {
            border-radius: $borderRadius;
            background-color: $white;
            width: 100%;
            height: 3px;
            position: relative;
            display: block;
            transition: all 0.15s;

            &::before {
                @extend %beforeafter;
                top: -9px;
            }

            &::after {
                @extend %beforeafter;
                top: 9px;
            }
        }

        .toggle {
            background-color: transparent;

            &::before {
                transform: rotate(45deg) translate(6px, 7px);
            }

            &::after {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}

//start animation responsive menu
.hamburger {

    ul,
    li {
        margin: 0;
    }
}

#lblmenu {
    display: block;
    cursor: pointer;
    // position: absolute;
    // top: -27px;
    // right: 0;
    width: 50px;
    height: 50px;
    margin: 0;

    @media #{$laptop} {
        display: none;
    }

    #menu {
        display: none;

        &:checked+svg {

            path:nth-child(1),
            path:nth-child(2) {
                --length: 22.627416998;
            }

            path:nth-child(3),
            path:nth-child(4) {
                --length: 0;
                --offset: -20;
            }

            path:nth-child(5),
            path:nth-child(6) {
                --length: 22.627416998;
                --offset: -16.9705627485;
            }

            path {
                transform: translateX(30px);
                --offset: -16.9705627485;
            }
        }
    }

    svg {
        transform: scale(3);

        path:nth-child(1),
        path:nth-child(2),
        path:nth-child(5),
        path:nth-child(6) {
            --total-length: 111.22813415527344;
            --offset: -50.22813415527344;
        }

        path:nth-child(3),
        path:nth-child(4) {
            --total-length: 99
        }

        path:nth-child(1),
        path:nth-child(3),
        path:nth-child(5) {
            opacity: 0;
            stroke-dasharray: none;
        }

        path {
            fill: none;
            stroke: $white;
            // stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;
            --length: 24;
            --offset: -38;
            stroke-dasharray: var(--length) var(--total-length);
            stroke-dashoffset: var(--offset);
            transition: all .5s cubic-bezier(.645, .045, .355, 1);
        }
    }
}

//end animation responsive menu

//start admin sidenav
.adminwrapper {
    display: flex;

    a {
        color: $white;
    }

    .sideadmin {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        margin: 0;
        list-style: none;
        width: 7.5rem;
        min-height: 100vh;
        background-color: $dark;
        color: $white !important;

        @media #{$laptop} {
            width: 14rem !important;
        }

        #brand {
            text-transform: capitalize;
            margin: 1.5rem auto;

            img {
                width: 50px;
            }
        }

        hr {
            margin: 0;
        }

        li {
            margin: 1.5rem auto;

            @media #{$laptop} {
                margin-left: 1.5rem;
            }
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: calc(100% - 7.5rem);
        background-color: darken($white, 2%);
        background-color: $white;
        margin-left: 7.5rem;

        @media #{$laptop} {
            width: calc(100% - 14rem);
            margin-left: 14rem !important;
        }

        .adminnav {
            // position: relative;
            height: 70px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: .5rem 1rem;
            background-color: $white;
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
            position: fixed;
            top: 0;
            right: 0;
            left: 14rem;
            width: auto !important;
            z-index: 9999;

            @media #{$mobile} {
                left: 7.5rem;
            }

            button {
                padding: 0 .375rem !important;
                background-color: $white;

                @media #{$laptop} {
                    display: none;
                }
            }
        }
    }
}

.sidetoggle {
    width: 0 !important;
    overflow: hidden;
}

.contenttoggle {
    width: 100% !important;
    margin-left: 0 !important;

    .adminnav {
        @media #{$mobile} {
            left: 0 !important;
        }
    }
}

//end admin sidenav

//start side navigation
.sidenav {
    height: 100vh;
    width: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $dark;
    overflow: hidden;
    z-index: 999;

    ul {
        list-style: none;
        font-size: 24px;
        height: 100%;

        li {
            padding: 1.1rem 1.5rem;

            #navclose {
                float: right;
                padding: 0 8px !important;
                background-color: $white;

                svg {
                    stroke: $dark;
                }
            }

            a {
                color: $white;
            }
        }

        li:nth-child(2) {
            margin-top: 3rem;
        }
    }
}

#navopen {
    padding: 0 8px !important;
    margin-top: 1.6rem;
    background-color: $white;

    svg {
        stroke: $dark;
    }
}

#main {
    height: 100vh;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 0;
    height: 100vh;
    background-color: $dark;
    opacity: 0;
    transition: opacity .3s;
    z-index: 99;
}

.overlayed {
    opacity: .7;
    width: 100%;
}

//end side navigation