$primaryColor: #333;
$borderRadius: 0.16rem;
$mobile: 'only screen and (max-width:768.1px)';
$laptop: 'only screen and (min-width:768.1px)';

%beforeafter {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: $borderRadius;
}

* {
    transition: all .4s ease-in-out;
}

.hamburger {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $primaryColor;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    .open {
        right: 0;
    }

    ul {
        list-style: none;
        display: flex;
        padding: .375rem;

        @media #{$mobile} {
            flex-direction: column;
            background-color: $primaryColor;
            top: 70px;
            right: -100%;
            bottom: 0;
            position: fixed;
            width: 100%;
            height: 100vh;
            padding: 1rem;

            li {
                margin-top: .5rem;
            }
        }

        li {
            padding: .75rem;
            @media #{$mobile}{
                padding: 1.5rem;
            }
        }
    }

    a {
        color: white;
        text-decoration: none;

        img {
            width: 38px;
            height: 38px;
            vertical-align: middle;
            padding: .2rem;
            margin-right: .5rem;
        }
    }

    button {
        padding: 0 8px;
        width: 40px;
        height: 40px;

        @media #{$laptop} {
            display: none;
        }

        span {
            border-radius: $borderRadius;
            background-color: white;
            width: 100%;
            height: 3px;
            position: relative;
            display: block;
            transition: all 0.15s;

            &::before {
                @extend %beforeafter;
                top: -9px;
            }

            &::after {
                @extend %beforeafter;
                top: 9px;
            }
        }

        .toggle {
            background-color: transparent;

            &::before {
                transform: rotate(45deg) translate(6px, 7px);
            }

            &::after {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}

//start animation responsive menu
.hamburger{
    ul,li{
        margin: 0;
    }
}
label {
    display: block;
    cursor: pointer;
    // position: absolute;
    // top: -27px;
    // right: 0;
    width: 50px;
    height: 50px;
    margin: 0;

    @media #{$laptop} {
        display: none;
    }

    #menu {
        display: none;

        &:checked+svg {

            path:nth-child(1),
            path:nth-child(2) {
                --length: 22.627416998;
            }

            path:nth-child(3),
            path:nth-child(4) {
                --length: 0;
                --offset: -20;
            }

            path:nth-child(5),
            path:nth-child(6) {
                --length: 22.627416998;
                --offset: -16.9705627485;
            }

            path {
                transform: translateX(30px);
                --offset: -16.9705627485;
            }
        }
    }

    svg {
        transform: scale(3);

        path:nth-child(1),
        path:nth-child(2),
        path:nth-child(5),
        path:nth-child(6) {
            --total-length: 111.22813415527344;
            --offset: -50.22813415527344;
        }

        path:nth-child(3),
        path:nth-child(4) {
            --total-length: 99
        }

        path:nth-child(1),
        path:nth-child(3),
        path:nth-child(5) {
            opacity: 0;
            stroke-dasharray: none;
        }

        path {
            fill: none;
            stroke: #ffffff;
            // stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;
            --length: 24;
            --offset: -38;
            stroke-dasharray: var(--length) var(--total-length);
            stroke-dashoffset: var(--offset);
            transition: all .5s cubic-bezier(.645, .045, .355, 1);
        }
    }
}

//end animation responsive menu

//start admin sidenav
.wrapper {
    display: flex;

    a {
        text-decoration: none;
        color: white;
    }

    .sideadmin {
        display: flex;
        flex-direction: column;
        margin: 0;
        list-style: none;

        width: 7.5rem;
        min-height: 100vh;
        background-color: $primaryColor;
        color: white !important;

        @media #{$laptop} {
            width: 14rem !important;
        }

        #brand {
            text-transform: capitalize;
            margin: 1.5rem auto;

            img {
                width: 50px;
            }
        }

        hr {
            margin: 0;
        }

        li {
            margin: 1.5rem auto;

            @media #{$laptop} {
                margin-left: 1.5rem;
            }
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: calc(100% - 7.5rem);
        background-color: #f8f9fc;

        @media #{$laptop} {
            width: calc(100% - 14rem);
        }

        nav {
            position: relative;
            height: 80px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;
            padding: .5rem 1rem;
            background-color: white;
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);

            button {
                padding: 0 .375rem;

                @media #{$laptop} {
                    display: none;
                }
            }
        }
    }
}

.sidetoggle {
    width: 0 !important;
    overflow: hidden;
}

.contenttoggle {
    width: 100% !important;
}

//end admin sidenav

//start side navigation
.sidenav {
    height: 100vh;
    width: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primaryColor;
    overflow: hidden;
    z-index: 999;

    ul {
        list-style: none;
        font-size: 24px;
        height: 100%;

        li {
            padding: 1.1rem 1.5rem;

            #navclose {
                float: right;
                padding: 0 8px;

                svg {
                    stroke: white;
                }
            }

            a {
                text-decoration: none;
                color: white;
            }
        }

        li:nth-child(2) {
            margin-top: 2rem;
        }
    }
}

#navopen {
    padding: 0 8px;
    margin-top: 1.6rem;
}

#main {
    height: 100vh;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity .3s;
    z-index: 99;
}

.overlayed {
    opacity: .8;
    width: 100%;
}

//end side navigation


























//end side navigation